# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment directories
venv/
env/
*.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore Poetry files
poetry.lock


#Ignore data files
train.csv
test.csv
oil.csv
transactions.csv
stores.csv
sample_submission.csv
holidays_events.csv
